#form{
    margin: 10% auto;
    max-width: 25%;
	min-width: 200px;
    max-height: 25%;
	min-height: 200px;
}

#login{
    margin-left: 25% ;
    margin-top: auto ;
}

#title{
    margin-left: 25% ;
    min-width: 200px;
}


h3{
    margin: 0;
}

#submit{
  
}

h1{
    margin: 5px;
}

table, th, td {
    border: 1px solid black;
}

td, th{
    width: 110px;
    padding: 5px;
}
.grade{
    background-color: aqua;
    align: right;
}
/* Sortable tables */
table.sortable thead {
    width: auto;
    background-color:#dcdcdc;
    color:#666666;
    font-weight: bold;
    cursor: default;
}
tbody tr:nth-child(even) {
    background-color: #eee;
}
